SLASHA_ENV=development
SLASHA_PLATFORM_DOMAIN=slasha.localhost
SLASHA_PORT=3000

JWT_SECRET=somesecret

# GitHub integration is disabled when all variables below are absent.
GITHUB_APP_ID=
GITHUB_APP_CLIENT_ID=
GITHUB_APP_CLIENT_SECRET=
GITHUB_APP_PRIVATE_KEY=
GITHUB_APP_WEBHOOK_SECRET=
